body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: block;
}
.studio {
  font-size: 18px;
}

.navigation {
  display: flex;
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.link-address {
  display: flex;
  gap: 40px;
  margin: 24 156 24 332;
}
.address .address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  margin-right: 76px;
}

.navigation .link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  line-height: 24px;
  padding: 24px 0;
  display: block;
}
.navigation .link:hover,
.navigation .link:focus {
  color: #404bbf;
}
.navigation .link-after {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation .link-after::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.link-webstudio {
  text-decoration: none;
}

.address {
  font-style: normal;
}
.address .link {
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
}
.address .link:hover,
.address .link:focus {
  color: #404bbf;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  height: 120px;
  max-width: 496px;
  margin: 0 auto;
  display: block;
  margin-bottom: 48px;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

.advantages {
  display: flex;
  gap: 24px;
}
.second-section {
  padding: 120px 0;
}
.advantages-item {
  width: calc((100% - 72px) / 4);
}
.advantages-icons {
  flex-shrink: 0;
}
.advantages-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin: 0 0 8px 0;
  border: 1px solid #8e8f99;
}

.photos-list {
  display: flex;
  gap: 24px;
}

.titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.paragraphs {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.section-title-thr-fr {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.photo-container {
  padding: 32px 0;
}
.section-title-four {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.first-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  align-items: center;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
}

.our-team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.footer-section {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 100px 0;
}

.studio {
  color: #2e2f42;
}

.images-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icon-item {
  width: 40px;
  height: 40px;
}
.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon {
  fill: #f4f4fd;
}
.icon-link:hover {
  background-color: #404bbf;
}
.icon-link:focus {
  background-color: #404bbf;
}
.team-titles {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-paragraphs {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 0 8px;
}
.portfolio-section {
  padding: 120px 0 120px 0;
}
.images {
  width: 360px;
  height: 300px;
}
.six-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.six-images:hover {
  transform: translateY(0%);
}

.six-images-list {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.six-images-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.six-images-list:hover .cover-text {
  transform: translateY(0);
}

.portfolio-items {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.cover-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  height: 100%;
  display: flex;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cover-text-wrap {
  position: relative;
  overflow: hidden;
}

.footer-link-webstudio {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-left: 0px;
  text-decoration: none;
}
.footer-text {
  max-width: 264px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
.footer-title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-icon {
  fill: #f4f4fd;
}
.footer-icon-link:hover {
  background-color: #31d0aa;
}
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-block {
  display: flex;
  align-items: baseline;
}

.block {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer-container {
  margin-right: 120px;
}
.subscribe {
  margin-left: 80px;
}

.form {
  display: flex;
  gap: 24px;
}

.input-subscribe {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  background-color: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.input-subscribe::placeholder {
  color: #ffffff;
}

.button-submit {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.button-icon {
  margin-left: 16px;
  fill: #ffffff;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  float: right;
  padding: 0;
  cursor: pointer;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: #fff;
}

.modal-title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  line-height: 1.17;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  fill: #8e8f99;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.check-text {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;

  align-items: center;
}

.check-text a {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.check-text span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-span {
  display: inline-flex;
}

.form-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.send-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
